.titlePurchase {
    color: #502364;
    text-align: center;
}

.card-header  {  background: rgba(227, 187, 245, 0.6) !important;  }

.card { margin-top: 2%; }

.card-body {
    color: rgb(41, 40, 40) !important;
    text-align: center;
}

.card-body span { color: #2a0b38; }


/*! Styles of SideBarCard */
.productName {
    text-decoration: none !important;
    color: #502364;
}

.cartImages {
    width: 120px;
    height: 120px;
    object-fit: scale-down;
}

.classBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 6%;
    font-size: 18px;
}

.dangerBtn {
    color: rgb(183, 38, 38);
    border: none;
    background: transparent;
}

.dangerBtn:hover, .updateBtn:hover {
    border-radius: 10px;
    color: #502364;
}

.updateBtn {
    color: green;
    background: transparent;
    border: none;
}

.totalCheckout {
    text-align: right;
    font-size: 26px;
}

.totalCheckout b {
    color: rgb(124, 20, 20);
}

.btnCheck {
    border: none;
    background: #310552;
    color: beige;
    border-radius: 15px;
}

.btnCheck:hover {
    background: #502364;
}

.alertEmpty {
    color: red;
    font-weight: 700;
    font-size: 1.6rem;
}

/**/
.simplescrollup__button {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	transition: 1s all;
	z-index: 10000;
}
.simplescrollup__button--show {
	transform: translateX(0);
}
.simplescrollup__button--hide {
	transform: translateX(100px);
}

/*!--*/
/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:20px;
    color:black;
    cursor:pointer;
    position:fixed;
   
    z-index:2;
  }